body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 20px;
    background-color: #FFFCF5;
}

/* i {
    height: 20px;
    width: 20px;
} */

strong {
    color: rgb(0, 0, 0);
}

.rounded {
    margin-top: 5%;
    margin-bottom: 10%;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
}

.naveDate {
    font-size: small;
    margin-top: 1%;
    margin-bottom: 1%;
}

.presentation {
    height: 10%;
}

.col {
    font-size: 16px;
    color: rgba(106, 82, 121, 0.432);
}

.hello-wrapper,
.contact-wrapper,
.year-wrapper,
.col-6,
.projet-wrapper {
    display: flex;
}

.detail-list-21,
.detail-list-20,
.detail-list-15,
.detail-list-08,
.detail-list-07 {
    display: none;
}

.card-footer {
    font-size: xx-small;
}

/* h1 {
    width: 300px;
    height: 100px;
    position: relative;
    animation: myfirst 5s 2;
    animation-direction: alternate;
  }
  
  @keyframes myfirst {
    0%   {left: 400px; top: 0px;}
    25%  {right: 200px; top: 0px;}
    50%  {left: 400px; top: 0px;}
    100% {right: 200px; top: 0px;}
  } */