body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 20px;
    background-color: #FFFCF5;
}

strong {
    color: rgb(0, 0, 0);
}
.rounded{
    margin-top: 10%;
    margin-bottom: 10%;
}
hr {
    margin-top: 10%;
    margin-bottom: 10%;
}
.presentation{
    height: 10%;
}

.col {
    font-size: 16px;
    color: rgba(106, 82, 121, 0.432);
}

.hello-wrapper,
.contact-wrapper,
.year-wrapper,
.col-6,
.projet-wrapper {
    display: flex;
}

.detail-list-20,
.detail-list-15,
.detail-list-08,
.detail-list-07 {
    display: none;
}
