body {
    font-family: 'Martel Sans', sans-serif;
    font-size: 20px ;
    background-color: #FFFCF5;
}
strong {
    color: rgb(0, 0, 0);
}
.col {
    font-size: 16px;
    color: rgba(106, 82, 121, 0.432);
    }
.hello-wrapper, .connect-wrapper, .year-wrapper, .col-6, .projet-wrapper {
    display: flex;
}
.detail-list-20 {
    display: none;
}